/* Base styles */
:root {
  --font-base-size: 16px;
  --font-base-family: Helvetica, Arial, sans-serif;
  --max-width: 56rem;
  --spacing: 1rem;
  --color-border: #ddd;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-base-family);
  font-size: var(--font-base-size);
  color: #fff;
  background: url("images/fotbolti_Gras.jpg") no-repeat 50% 50%;
  background-size: cover;
}

h1, h2, h3, p, a {
  margin-bottom: var(--spacing);
  text-decoration: none;
  text-align: center;
}

h1 {
  color: #fff;
}

a {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

h2, h3, p {
  font-weight: 600;
}

body {
  overflow-x: hidden;
}

/* Media Queries */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}

/* Footer styles */
footer {
  background-color: #00ab00;
  padding: 10px;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Header styles */
.header-content {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  width: 100%;
  background: #00ab00;
  border: 2px solid #00ab00;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  max-width: 280px;
  max-height: 90px;
}

nav {
  float: right;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: #017201;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #017201;
  position: absolute;
  width: 0%;
  top: 0;
}

nav a:hover::before {
  width: 100%;
  transition: 0.5s;
}

nav .user-info,
nav .not-logged-in {
  color: white;
  text-align: center;
}

nav .not-logged-in a {
  font-weight: bold;
}

nav .not-logged-in a:hover {
  color: #017201;
}

nav .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hover-container:hover .user-info::before,
.hover-container:hover .not-logged-in a::before {
  width: 100%;
  transition: 0.5s;
}

/* Index styles */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: transparent;
  margin: 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.box-leikir,
.box-stada {
  background-color: #00ab00;
  padding-left: 15px;
  padding-right: 15px;
  margin: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.box .box-leikir:hover {
  background-color: #017201;
}

.box .box-stada:hover {
  background-color: #017201;
}
