<%- include('header') -%>
<body>
  <section class="hero">
    <div class="hero-text">
      <h1>Boltadeildin</h1>
      <p>Velkomin á heimsíðu boltadeildarinnar, <br> hér er staðan í gömlum leikjum og liðin.</p>
      <p><a href="/stada">Sjá stöðuna</a></p>
    </div>

    <div class="hero-img">
      <img src="/images/hero_img.png" alt="Football">
    </div>
  </section>

  <div class="icons">
    <a href="https://www.instagram.com/mikaelmatthiasson/" target="_blank"><i class="ri-instagram-line"></i></a>
    <a href="https://github.com/mikkimatt/Vefforritun2/tree/main/vef2-2024-v2-main" target="_blank"><i class="ri-github-line"></i></a>
    <a href="mailto:mim23@hi.is" target="_blank"><i class="ri-mail-line"></i></a>
  </div>
</body>
