<%- include('header') -%>
<section class="login">
  <h1>Innskráning</h1>
  <form method="post" action="/login" autocomplete="off" class="login-form">
    <label>Notendanafn: <input type="text" name="username" placeholder="Notandanafn"></label>
    <label>Lykilorð: <input type="password" name="password" placeholder="Lykilorð"></label>
    <button type="submit">Innskrá</button>
  </form>
</section>


