:root {
  --font-base-size: 16px;
  --font-base-family: helvetica, arial, sans-serif;
  --max-width: 56rem;
  --spacing: 1rem;
  --color-border: #ddd;
  --color-light: #aef359;
  --color-mid: #03c04a;
  --color-dark: #017201;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
